@charset "UTF-8";

/* Html id -> Css #
Html class -> Css . (ponto) */

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: #1e402f;
}

#primeiro{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

#segundo {
    color: #3c805e;
}

.terceiro {
    color:#80793c

}

.quarto {
    color: #803c3c;

}